{% extends "base.html" %}
{% block main %}

<div class="d-flex justify-content-around" style="padding:100px 0">
    <form method="post">
      <h1>Search_form</h1>
      {% csrf_token %}
      {% for field in form %}
      <div class="form-group">
        <label class="control-label">
          {{ field.label }}<br>
          {{ field }}
        </label>
      </div> 
      {% endfor %}
      <div class="d-flex justify-content-end" style="padding:20px 0">
        <input type="submit" value="保存" class="btn btn-info" >
      </div>
    </form>
  </div>
{% endblock %}