{% extends 'base.html' %}

{% block main %}
<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">ファイル名</th>
      <th scope="col">コンテンツ</th>
      <th scope="col">アップロード</th>
    </tr>
  </thead>
  <tbody>
    {% for object in object_list %}
    <tr>
      <td><a href="items/{{object.pk}}/" class="text-body text-decoration-none">No.{{ page_obj.start_index|add:forloop.counter0 }}</a></td>
      <td><a href="items/{{object.pk}}/" class="text-body text-decoration-none">{{ object }}</a></td>
      <td><a href="items/{{object.pk}}/" class="text-body text-decoration-none">コンテンツ</a></td>
      <td><a href="items/{{object.pk}}/" class="text-body text-decoration-none">{{ object.upload_at }}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</ul>
<div class="row m-5">
  <div class="col-12 my-3">
    {% include 'snippets/pagination.html' %}
  </div>
</div>

{% endblock %}